* {
    padding: 0;
    margin: 0;
}

.subtitle{
    font-size:1.1rem;
}

#cartita {
    transition: all 400ms ease;
}

#cartita:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#cartita1 {
    transition: all 400ms ease;
}

#cartita1:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.carousel-caption {
    bottom: 280px;
}

#stats {
    list-style: none
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

#img-ingame{
    color: blueviolet;
}

#bounceimg:hover{
    animation: bounce 1s linear;
}

.guiadeljuego{
    margin: 4vh 7vh 4vh 7vh;
}

.historiaprincipal{
    padding: 0.5vh;
    padding-bottom: 1.5vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2), 15px 15px 15px rgba(255, 255, 255, .1);
}

.box{
    padding: 0.5vh;
    padding-bottom: 1.5vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2), 15px 15px 15px rgba(255, 255, 255, .1);
}

.img-ingame{
    padding: 0.5vh;
    padding-bottom: 1.5vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, .2), 15px 15px 15px rgba(255, 255, 255, .1);
}

.musica-text{
    padding: 0.5vh;
    padding-bottom: 1.5vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, .2), 5px 5px 5px rgba(255, 255, 255, 0.1);
    
}


@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}