*{
    padding: 0;
    margin: 0;
}

#cartita{
    transition: all 400ms ease;
}

#cartita:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

#cartita1{
    transition: all 400ms ease;
}

#cartita1:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.carousel-caption{
    bottom: 280px;
}

#stats{
    list-style:none
}